/************************    START THE GENERAL STYLE FOR THE LAYOUT....    ********************/
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Aller-Light";
    src: url(Aller_Lt.ttf);
}

@font-face {
    font-family: "Aller-LightIt";
    src: url(Aller_LtIt.ttf);
}

body {
    background: url(../images/debut_dark.png);
    scrollbar-3dlight-color: #000;
    scrollbar-arrow-color: #dd4f4f;
    scrollbar-base-color: #dd4f4f;
    scrollbar-darkshadow-color: #000;
    scrollbar-face-color: #000;
    scrollbar-highlight-color: #dd4f4f;
    scrollbar-shadow-color: #000;
}

body, td, textarea, input {
    font-family: arial;
    font-size: 12px;
}

body, td, a, .buttonone {
    color: #FFFFFF;
    text-decoration: none;
}

::selection {
    background: #000;
    color: #fff;
}

::-moz-selection {
    background: #000;
    color: #fff;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    background-color: #666;
    padding: 5px;
}

/* UP, DOWN, LEFT and RIGHT button styling */
::-webkit-scrollbar-button:hover {
    background-color: #DBDBDB !important;
}

::-webkit-scrollbar-button:vertical:decrement {
    background: url('../images/up.png') no-repeat center;
}

::-webkit-scrollbar-button:vertical:increment {
    background: url('../images/down.png') no-repeat center;
}

::-webkit-scrollbar-button:horizontal:decrement {
    background: url('../images/left.png') no-repeat center;
}

::-webkit-scrollbar-button:horizontal:increment {
    background: url('../images/right.png') no-repeat center;
}

::-webkit-scrollbar-button:active:vertical:decrement {
    background: url('../images/up-active.png') no-repeat center #000 !important;
}

::-webkit-scrollbar-button:active:vertical:increment {
    background: url('../images/down-active.png') no-repeat center #000 !important;
}

::-webkit-scrollbar-button:active:horizontal:decrement {
    background: url('../images/left-active.png') no-repeat center #000 !important;
}

::-webkit-scrollbar-button:active:horizontal:increment {
    background: url('../images/right-active.png') no-repeat center #000 !important;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #CDCDCD;

}

::-webkit-scrollbar-thumb:hover {
    background-color: #A6A6A6;

}

::-webkit-scrollbar-thumb:active {
    background-color: #606060;

}

#wrapper {
    background: url(../images/wrap_bg.png);
    width: 1240px;
    height: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

/************************    START THE HEADER STYLINGS....    ********************/

#top_bar {
    background: #555 repeat-x;
    width: 100%;
    min-height: 20px;

}

#main_banner {
    background: url(../images/place_holder.png) no-repeat top center;
    width: auto;
    height: 241px;
}

#bread_ui {
    background: url(../images/bread_ui.png);
    margin: 18px auto 15px auto;
    width: 1100px;
    height: 50px;
	padding:10px;
}

.ui {
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
    color: #838280;
    font-variant: small-caps;
}

.ui a {
    text-decoration: underline;
    color: #838280;
}

.location {
    margin: 0 auto 5px auto;
    width: 1217px;
    font-family: Arial;
    font-size: 11px;
    color: #fefbfb;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-variant: small-caps;
}

.location a {
    color: #fefbfb;
    text-decoration: underline;
}

/************************    START THE LEFT STYLINGS....    ********************/

#content #left {
    width: 295px;
    min-height: 100%;
    border-right: 1px dotted #fefbfb;
    padding: 0 0 0 10px;
    float: left;
    height: 100%;
    max-height: 100%;
}

.block_title {
    background: url(../images/block_titile.png) no-repeat;
    width: 292px;
    height: 51px;
    text-align: center;
    font-family: "Agency";
    color: #3b3938;
    font-size: 15px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px dotted #737070;
}

.block_text {
    background: url(../images/block_title_bg.png) no-repeat;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    font-variant: small-caps;
    margin-top: -12px;
    width: 214px;
    height: 41px;
}

.list {
    width: 290px;
    height: 92px;
    font-family: Arial;
    font-size: 11px;
    color: #fff;
    padding: 5px 0 5px 0;
    margin-bottom: 5px;
    border-bottom: 1px dotted #737070;
}

.list_news {
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: 1px dotted #737070;
    font-family: Arial;
    font-size: 12px;
}

#canvas {
    margin-left: 33px;
    margin-bottom: 5px;
}

.stat1 {
    border-top: solid #dcb13d 4px;
    border-right: solid #dcb13d 1px;
    padding: 3px 0 3px 5px;
    height: 58px;
    width: 54px;
    margin-left: 33px;
    float: left
}

.stat2 {
    border-top: solid #b6b7b6 4px;
    border-right: solid #b6b7b6 1px;
    padding: 3px 0 3px 5px;
    height: 58px;
    width: 54px;
    float: left
}

.stat3 {
    border-top: solid #516c78 4px;
    border-right: solid #516c78 1px;
    padding: 3px 0 3px 5px;
    height: 58px;
    width: 54px;
    float: left
}

.stat4 {
    border-top: solid #ffffff 4px;
    padding: 3px 0 3px 5px;
    height: 58px;
    width: 54px;
    float: left
}

.option {
    font-size: 16px;
    font-family: "Istok", "Myriad Pro";
    font-weight: 400;
    color: rgb(255, 255, 255);
    line-height: 1.125;
    text-align: center;
    -moz-transform: matrix(0.8, 0, 0, 0.80086799276673, 0, 0);
    -webkit-transform: matrix(0.8, 0, 0, 0.80086799276673, 0, 0);
    -ms-transform: matrix(0.8, 0, 0, 0.80086799276673, 0, 0);
    margin-bottom: 3px;
    letter-spacing: 1px;
}

.poll_percent {
    font-size: 14.77px;
    font-family: "Istok", "Myriad Pro";
    color: rgb(255, 255, 255);
    line-height: 1.219;
    text-align: center;
    -moz-transform: matrix(1.40830082595774, 0, 0, 1.40982881962062, 0, 0);
    -webkit-transform: matrix(1.40830082595774, 0, 0, 1.40982881962062, 0, 0);
    -ms-transform: matrix(1.40830082595774, 0, 0, 1.40982881962062, 0, 0);
    font-weight: 400;
}

.poll_info {
    padding: 5px;
    text-align: center;
    border-bottom: 1px dotted #737070;
}

/************************    START THE CENTER STYLINGS....    ********************/
#content #center {
    float: left;
    width: 590px;
    margin-left: 15px
}

/*News Styles */
.e {
    background: url(../images/e_bg.png);
    padding: 5px;
    height: auto;
    margin-bottom: 27px;
}

.inner {
    background: url(../images/inner.png);
    margin: 0 auto 0 auto;
    height: auto;
}

.avatar {
    width: 39px;
    height: 39px;
    margin-left: 28px;
    border: 3px white solid;
    margin-top: 64px
}

.e_title {
    font-family: 'Lato', Arial;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 15px;
    margin-top: -30px;
    margin-left: 75px;
}

.admin_banner {
    background: url(../images/test.png) no-repeat;
    max-width: 580px;
    height: 96px;
    margin-top: 5px;
}

.holder {
    padding: 5px;
}

.e_text {
    font-size: 12px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
}

.e_footer {
    margin-top: 12px;
    color: #a7a5a2;
    font-size: 12px;
    font-family: "Arial";
    height: 20px
}

.e_author {
    color: #3a3837;
    font-weight: bold;
    font-size: 12px;
    font-family: "Arial";
}

/************************    START THE RIGHT STYLINGS....    ********************/

#content #right {
    width: 300px;
    min-height: 100%;
    border-left: 1px dotted #fefbfb;
    padding: 0 0 0 10px;
    float: left;
}

.ranked_user a {
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    font-variant: small-caps;
    margin-top: -12px;
    width: 214px;
    height: 41px
}

.rank_info {
    font-family: 'Lato';
    font-weight: bold;
    font-size: 14px;
    font-variant: small-caps;
    width: 214px;
}

/************************    START THE FOOTER STYLINGS....    ********************/
#under_body {
    background: url(../images/under_body.png);
    width: 1240px;
    height: 188px;
    margin: 0 auto 0 auto;
    border-top: 3px solid #838280
}

/************************    START THE NAVAGATION MENU....    ********************/

#navigation > ul {
    width: 400px;
    margin: auto;
}

#navigation > ul > li {
    list-style: none;
    display: inline;
    line-height: 1;
    margin: 10px;
    position: relative;
}

#navigation > ul > li > a {
    color: inherit;
    text-decoration: none !important;
    font-size: 24px;
    padding: 5px;
}

#navigation li ul {
    position: absolute;
    list-style: none;
    text-align: center;
    width: 180px;
    left: 50%;
    margin-left: -90px;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 0.4s linear;
    -moz-transition: max-height 0.4s linear;
    transition: max-height 0.4s linear;
}

#navigation li ul li {
    background-color: #313131;
}

#navigation li ul li a {
    padding: 12px;
    color: #fff !important;
    text-decoration: none !important;
    display: block;
}

#navigation li ul li:nth-child(odd) {
    background-color: #555;
}

#navigation li ul li:hover {
    background-color: #444;
}

#navigation li ul li:first-child {
    margin-top: 5px;
    position: relative;
}

#navigation li ul li:first-child:before {
    /* the pointer tip */
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;
    border-bottom-color: #313131;
    left: 50%;
    top: -10px;
    margin-left: -5px;
}

#navigation li ul li:last-child {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

#navigation li:hover ul {
    max-height: 200px;
}

/************************    START THE PROFILE STYLINGS....    ********************/
#profile {
	width:920px;
	height:auto;
	padding:5px;
}

#profile_header {
	width:95%;
	height:166px;
	margin-top:5px;
	background: transparent; 
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4CF0C850,endColorstr=#4CF0C850)"; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4CF0C850,endColorstr=#4CF0C850); 
	background: rgba(0, 0, 0, 0.3);
}

.profile_avatar {
	height:166px;
	width:166px;
	background: transparent; 
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000,endColorstr=#000)"; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#000,endColorstr=#000); 
	background: rgba(0, 0, 0, 0.3);
	text-align:center;
	float:left
}

.profile_name {
	margin-top:5px;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    font-variant: small-caps;
}

.profile_header2 {
	width:480px;
	height:166px;
	float:left;
	border-right: 2px dashed white;
	margin-left:10px
}

.profile_exp {
	margin-top:5px;
	font-family: "Lato";
    font-size: 44px;
	font-weight:100;
	margin-left:10px;
}

.current_exp {
	margin-top:5px;
	font-family: "Lato";
    font-size: 24px;
	font-weight:100;
	font-style:italic;
	width:215px;
	text-align:center
}	

.exp_bar {
	height: 10px;
	width:215px;
	background: rgba(223, 215, 215, 0.3);
}

.profile_header3 {
	width:200px;
	height:166px;
	float:left;
	margin-left:10px
}

.level {
	margin-top:5px;
	font-family: "Lato";
    font-size: 24px;
	font-weight:100;
	width:100%;
	text-align:center;
	border-bottom:1px dotted white;
}

.rank {
	margin-top:5px;
	font-family: "Lato";
    font-size: 15px;
	font-weight:300;
	width:100%;
	text-align:center;
}

.ratio {
    font-family: "Lato";
    font-size: 14px;
	font-weight:300;
}

.user_info_1 {
	width:45%;
	min-height:416px;
	float:left;
	border-right: 1px dotted white;
	background: transparent; 
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000,endColorstr=#000)"; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#000,endColorstr=#000); 
	background: rgba(0, 0, 0, 0.6);
}

.user_info_2 {
	width:45%;
	min-height:416px;
	float:left;
	background: transparent; 
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000,endColorstr=#000)"; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#000,endColorstr=#000); 
	background: rgba(0, 0, 0, 0.6);
}

/************************    START THE BUTTON AND INPUT STYLINGS....    ********************/
.username {
    background: url(../images/uname.png) no-repeat scroll top 8px left 5px, url(../images/username.png) repeat-x scroll left top #FEFEFE;
    border: 1px solid #666;
    color: #7C7C7C;
    font-size: 12px;
    padding: 8px 10px 8px 20px;
    width: 210px;
    float: left;
    margin-left: 125px;
}

.username:active, .username:focus {
    border: 1px solid #000;
    color: #000
}

.password {
    background: url(../images/password.png) no-repeat scroll top 8px left 5px, url(../images/username.png) repeat-x scroll left top #FEFEFE;
    border: 1px solid #666;
    color: #7C7C7C;
    font-size: 12px;
    padding: 8px 20px 8px 20px;
    width: 210px;
    float: left;
    margin-left: 20px;
}

.password:active, .password:focus {
    border: 1px solid #000;
    color: #000
}

.loginButton {
    background: url(../images/login.png) no-repeat 0 0;
    float: left;
    margin-left: 15px;
    border: 0;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-top: 10px;
}

.lost_pass {
    background: url(../images/lost_pass.png) no-repeat scroll left center;
    float: left;
    padding: 8px 0 8px 20px;
    border-left: #a8a8a6 1px dotted;
    color: #838280;
    margin-left: 15px;
    margin-top: 4px;
}

.lost_pass a {
    color: #838280;
    text-decoration: underline;
    font-family: Arial;
    font-size: 12px;
    margin-left: 15px;
}

.register {
    background: url(../images/register.png) no-repeat scroll left 15px center;
    float: left;
    padding: 8px 25px 8px 20px;
    border-left: #a8a8a6 1px dotted;
    border-right: #a8a8a6 1px dotted;
    color: #838280;
    margin-left: 15px;
    margin-top: 4px;
}

.register a {
    color: #838280;
    text-decoration: underline;
    font-family: Arial;
    font-size: 12px;
    margin-left: 15px;
}

.formcss1 {
    background: -moz-linear-gradient(top, #dd4f4f, #c84242);
    background: -webkit-gradient(linear, left top, left bottom, from(#dd4f4f), to(#c84242));
    font-family: Arial;
    margin-left: 10px;
    border-radius: 3px 3px 3px 3px;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    padding: 5px;
    border: none;
    letter-spacing: 1px;
    font-variant: small-caps;
    border: 1px solid #ad2e2e;
}

.formcss1:focus, .formcss1:hover {
    text-decoration: none;
    background: #666;
}

input[type=radio].css-checkbox {
    display: none;
}

input[type=radio].css-checkbox + label.css-label {
    padding-left: 25px;
    height: 15px;
    display: inline-block;
    line-height: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer;

}

input[type=radio].css-checkbox:checked + label.css-label {
    background-position: 0 -15px;
}

label.css-label {
    background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_b368be1f48be10c0e6c77784088645f6.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*a[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}*/