<section class="header">

    <svg class="medical-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path fill="#febd73" d="M45,63a6,6,0,0,1-6-6V49a8,8,0,0,1,8-8h8a8,8,0,0,1,8,8v8a6,6,0,0,1-6,6Z"/><path fill="#fc8e52" d="M63,49v8a6,6,0,0,1-6,6H54a6,6,0,0,0,6-6V49a8,8,0,0,0-8-8h3A8,8,0,0,1,63,49Z"/><path fill="#fedc96" d="M39,49v8a6,6,0,0,0,6,6h3a6,6,0,0,1-6-6V49a8,8,0,0,1,8-8H47A8,8,0,0,0,39,49Z"/><rect width="10" height="12" x="46" y="25" fill="#febd73" rx="5"/><path fill="#fc8e52" d="M56,30v2a5,5,0,0,1-5,5,5.335,5.335,0,0,1-1.5-.22A5.013,5.013,0,0,0,53,32V30a5.022,5.022,0,0,0-1.46-3.54,5.15,5.15,0,0,0-2.04-1.24A5.335,5.335,0,0,1,51,25a4.985,4.985,0,0,1,5,5Z"/><path fill="#fedc96" d="M46,30v2a5,5,0,0,0,5,5,5.335,5.335,0,0,0,1.5-.22A5.013,5.013,0,0,1,49,32V30a5.022,5.022,0,0,1,1.46-3.54,5.15,5.15,0,0,1,2.04-1.24A5.335,5.335,0,0,0,51,25a4.985,4.985,0,0,0-5,5Z"/><path fill="#00c8c8" d="M7,39a6,6,0,0,1-6-6V25a8,8,0,0,1,8-8h8a8,8,0,0,1,8,8v8a6,6,0,0,1-6,6Z"/><path fill="#1cadb5" d="M25,25v8a6,6,0,0,1-6,6H16a6,6,0,0,0,6-6V25a8,8,0,0,0-8-8h3A8,8,0,0,1,25,25Z"/><path fill="#64e1dc" d="M1,25v8a6,6,0,0,0,6,6h3a6,6,0,0,1-6-6V25a8,8,0,0,1,8-8H9A8,8,0,0,0,1,25Z"/><rect width="10" height="12" x="8" y="1" fill="#00c8c8" rx="5"/><path fill="#1cadb5" d="M18,6V8a5,5,0,0,1-5,5,5.335,5.335,0,0,1-1.5-.22A5.013,5.013,0,0,0,15,8V6a5.022,5.022,0,0,0-1.46-3.54A5.15,5.15,0,0,0,11.5,1.22,5.335,5.335,0,0,1,13,1a4.985,4.985,0,0,1,5,5Z"/><path fill="#64e1dc" d="M8,6V8a5,5,0,0,0,5,5,5.335,5.335,0,0,0,1.5-.22A5.013,5.013,0,0,1,11,8V6a5.022,5.022,0,0,1,1.46-3.54A5.15,5.15,0,0,1,14.5,1.22,5.335,5.335,0,0,0,13,1,4.985,4.985,0,0,0,8,6Z"/><polygon fill="#e0ebf0" points="29 39 7 39 9 25 31 25 29 39"/><path fill="#00c8c8" d="M22,31H20V29a1,1,0,0,0-2,0v2H16a1,1,0,0,0,0,2h2v2a1,1,0,0,0,2,0V33h2a1,1,0,0,0,0-2Z"/><polygon fill="#e0ebf0" points="35 63 57 63 55 49 33 49 35 63"/><circle cx="45" cy="56" r="2" fill="#b4d3e0"/><path fill="#ff8680" d="M27.368 55.529a.976.976 0 0 1-.2-.02 23.821 23.821 0 0 1-4-1.185 1 1 0 0 1 .735-1.861 21.755 21.755 0 0 0 3.66 1.086 1 1 0 0 1-.2 1.98zm-7.4-2.922a1 1 0 0 1-.523-.148 24.276 24.276 0 0 1-3.348-2.483 1 1 0 0 1 1.326-1.5 22.129 22.129 0 0 0 3.07 2.276 1 1 0 0 1-.525 1.852zm-5.957-5.278a1 1 0 0 1-.782-.377 24 24 0 0 1-2.305-3.474 1 1 0 0 1 1.757-.956 22.082 22.082 0 0 0 2.112 3.184 1 1 0 0 1-.782 1.623zM52.135 21.881a1 1 0 0 1-.876-.516 22.122 22.122 0 0 0-2.133-3.171 1 1 0 0 1 1.557-1.256A24.1 24.1 0 0 1 53.009 20.4a1 1 0 0 1-.874 1.484zm-5-6.194a1 1 0 0 1-.658-.248A22.17 22.17 0 0 0 43.4 13.18a1 1 0 1 1 1.038-1.71A24.172 24.172 0 0 1 47.8 13.934a1 1 0 0 1-.659 1.753zM21 12.81a1 1 0 0 1-.482-1.876 23.791 23.791 0 0 1 3.817-1.679 1 1 0 0 1 .641 1.895 21.745 21.745 0 0 0-3.5 1.537A.989.989 0 0 1 21 12.81zm19.33-1.253a1.006 1.006 0 0 1-.363-.068A21.842 21.842 0 0 0 36.3 10.42a1 1 0 0 1 .388-1.962 23.944 23.944 0 0 1 4.005 1.167 1 1 0 0 1-.363 1.932zm-11.794-1.3a1 1 0 0 1-.149-1.989 24.3 24.3 0 0 1 4.159-.265 1 1 0 1 1-.045 2 22.3 22.3 0 0 0-3.814.244A1.119 1.119 0 0 1 28.537 10.26z"/></svg>
    <h1 class="uppercase">TELEMEDICAL</h1>
</section>

<form action="" method="post" name="register" target="_self">
    <label class="mdc-text-field mdc-text-field--filled username">
        <span class="mdc-text-field__ripple"></span>
        <input type="text" autocomplete="off" class="mdc-text-field__input" aria-labelledby="username-label" name="name" required maxlength="100">
        <span class="mdc-floating-label" id="username-label"><span class="flat">First and Last Name</span></span>
        <span class="mdc-line-ripple"></span>
    </label>

    <label class="mdc-text-field mdc-text-field--filled email">
        <span class="mdc-text-field__ripple"></span>
        <input type="email" autocomplete="off" class="mdc-text-field__input" aria-labelledby="email-label" name="email" required minlength="8">
        <span class="mdc-floating-label" id="email-label"><span class="flat">Email</span></span>
        <span class="mdc-line-ripple"></span>
    </label>

    <label class="mdc-text-field mdc-text-field--filled password">
        <span class="mdc-text-field__ripple"></span>
        <input type="password" autocomplete="off" class="mdc-text-field__input" aria-labelledby="password-label" name="password" required minlength="8">
        <span class="mdc-floating-label" id="password-label"><span class="flat">Password</span></span>
        <span class="mdc-line-ripple"></span>
    </label>

    <label class="mdc-text-field mdc-text-field--filled cnfm-password">
        <span class="mdc-text-field__ripple"></span>
        <input type="password" autocomplete="off" class="mdc-text-field__input" aria-labelledby="cnfm-password-label" name="confirm_password" required minlength="8">
        <span class="mdc-floating-label" id="cnfm-password-label"><span class="flat">Confirm Password</span></span>
        <span class="mdc-line-ripple"></span>
    </label>
    <div class="button-container">
        <button type="reset" class="mdc-button cancel">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">
          <span class="flat">Cancel</span>
        </span>
        </button>

        <button type="submit" name="submit" class="mdc-button mdc-button--raised">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label raised">
          Register
        </span>
        </button>
    </div>
</form>
