
 <div id="forum_text">Use your personal data in order to login and be able to post and chat with the other Pirate Zone players.</div>
<div class="boxone" style="border-left: 1px solid #c5c5c5; border-top: 1px solid #c5c5c5; border-right: 1px solid #c5c5c5;"><font class="font1" style="font-weight: normal;">Login</font></div>
    <table style="border: 1px solid #c5c5c5; background: url(../template/default/images/fpattern.png) repeat;" width="100%" border="0" cellspacing="0" cellpadding="4"><form action="" method="post" name="login" target="_self">
  <tr>
    <td width="15%"><div align="left" style="margin-top: 10px; margin-bottom: 5px; padding-left: 5px;"><font style="padding-top: 10px; font-family: Calibri, Arial, sans-serif; font-size: 15px; color: #5597b5; font-style: italic;">Email / Username:</font></div></td>
    <td width="85%"><div align="left" style="margin-top: 10px; margin-bottom: 5px;">
      <input name="email" type="text" id="input1" size="40" maxlength="40" />
      &nbsp;</div></td>
  </tr>
  <tr>
    <td><div align="left" style="padding-left: 5px;"><font style="padding-top: 10px; font-family: Calibri, Arial, sans-serif; font-size: 15px; color: #5597b5; font-style: italic;">Password:</font></div></td>
    <td><div align="left">
      <input name="pass" type="password" id="input1" size="40" maxlength="100" />
    </div></td>
  </tr>
  <!--<tr>
    <td colspan="2"><div align="left" style="padding-top: 5px; padding-left: 150px;"><span style="font-family: Calibri, Arial, sans-serif; color: #5597b5; font-style: italic; font-size: 15px;"><input type="checkbox" name="remember" value="1">Remember Me?</span></div></td>
    </tr>-->
<tr>
    <td colspan="2"><div align="left" style="padding-top: 5px; padding-left: 150px;"><a href="./?acc=lostpassword" style="font-family: Calibri, Arial, sans-serif; color: #FF0000; font-style: italic; font-size: 15px;">Lost your password?</a></div></td>
    </tr>
  <tr>
    <td colspan="2"><div align="center" style="margin-bottom: 5px; margin-top: 10px;"><input name="submit" type="submit" class="formcss1" value="Login"/></div></td>
    </tr><input type="hidden" name="ref" value="{REF}"></form>

</table>
<div style="clear: both;">&nbsp;</div>