
<div id="content" class="fixed eqc" style="width: 668px; height: auto; overflow: auto;">

    <div style="clear:both;"></div>
    <div class="contInner" style="overflow:hidden;">
   
        <div style="padding: 10">

  <p style="text-align: center; font-family: Calibri; font-size: 15px; color: #52969a;">1) The Custom avatar should not exceed 100 width or 100 height.</p>
  <p style="text-align: center; font-family: Calibri; font-size: 15px; color: #52969a;">2) Custom avatars have to be below 100 KB.</p>
  <p style="text-align: center; font-family: Calibri; font-size: 15px; color: #52969a; margin-bottom: 10px;">3) The only supported format is .png* any other formats will not work.</p>
  <form name="newad" method="post" enctype="multipart/form-data"  action="">
      <div style="margin-left:15px;float: left; border: 3px solid #6e6c6c;">{AVATAR}</div>
      <div style="float: left; text-align: center; margin-left: 100px; padding-top: 20px;">
	<input name="image" type="file" class="formcss"  size="50" maxlength="50" /><br /><br />
	<input name="Avi" type="submit" class="formcss" value="Upload"> <input name="Delete" type="submit" class="formcss" value="Delete">	
     </div>
</form>
 </div>

<div style="clear: both;">&nbsp;</div>

    </div>
    <div style="clear:both;"></div>
</div>




