  <div id="forum_text">You're currently editing a post within Pirate Zone forums.</div>
<table width="100%" border="0" cellspacing="0" cellpadding="2">

  <tr>

    <td><table width="100%" border="0" cellspacing="0" cellpadding="2">

      <tr>

        <td class="boxone" style="margin-top: 10px; border-right: 1px solid #c5c5c5; border-bottom: 1px solid #c5c5c5; border-left: 1px solid #c5c5c5; border-top: 1px solid #c5c5c5;"><div align="left"><font class="font1" style="font-weight: normal;">Edit</font></div></td>

      </tr>

    </table></td>

  </tr>  

  <tr>

    <td>

    

    <form action="" method="post" name="postreply"><table width="100%" border="0" cellspacing="0" cellpadding="4" style="border-bottom: 1px solid #c5c5c5; border-left: 1px solid #c5c5c5; border-right: 1px solid #c5c5c5; padding: 4px; background:url(./template/default/images/fpattern.png)">
<!-- BEGIN title --><tr>

 

    <td width="100%"><div align="left" style="margin-bottom: 10px;">

      <span style="font-family: Calibri; font-size: 15px; color: #000; font-variant: small-caps; letter-spacing: 1px;">Title of the topic: </span><input name="title" type="text"  size="40" maxlength="40" value="{TITLE}"/>
    </div></td>
</tr><!-- END title -->
<tr>

    <td colspan="2"><div align="center" style="margin-top: 10px; margin-bottom: 10px;">

     <input type="button" value="Bold" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[b][/b]'" class="formcss1" />
     

      <input type="button" value="Italic" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[i][/i]'" class="formcss1" />

      <input type="button" value="Underline" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[u][/u]'"  class="formcss1"/>

      <input type="button" value="Text size" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[size=8][/size]'" class="formcss1" />

      <input type="button" value="Text color" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[color=000000][/color]'" class="formcss1" />

 <input type="button" value="Text align" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[align=center]Text Here[/align]'" class="formcss1" />

      <input type="button" value="Link" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[url=http://Link Here]Text Here[/url]'" class="formcss1" />

      <input type="button" value="Image" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[img]Text Here[/img]'" class="formcss1" />

	  <input type="button" value="Youtube video" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[youtube]Text Here[/youtube]'" class="formcss1" />



 <input type="button" value="Spoiler" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[Spoiler=button text]content[/spoiler]'" class="formcss1" />

    </div></td>

  </tr>

  <tr>

   <td colspan="2"><div align="center">

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[angry]'"/><img
                                src="./img/smiley/angry.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[annoyed]'"/><img
                                src="./img/smiley/annoyed.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[biggrin]'"/><img
                                src="./img/smiley/biggrin.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[blink]'"/><img
                                src="./img/smiley/blink.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[confused]'"/><img
                                src="./img/smiley/confused.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[cool]'"/><img
                                src="./img/smiley/cool.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[dry]'"/><img
                                src="./img/smiley/dry.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[frown]'"/><img
                                src="./img/smiley/frown.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[happy]'"/><img
                                src="./img/smiley/happy.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[huh]'"/><img
                                src="./img/smiley/huh.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[laugh]'"/><img
                                src="./img/smiley/laugh.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[mad]'"/><img
                                src="./img/smiley/mad.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[nerd]'"/><img
                                src="./img/smiley/nerd.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[ohmy]'"/><img
                                src="./img/smiley/ohmy.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[riiight]'"/><img
                                src="./img/smiley/riiight.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[sad]'"/><img
                                src="./img/smiley/sad.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[shocked]'"/><img
                                src="./img/smiley/shocked.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[shy]'"/><img
                                src="./img/smiley/shy.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[smile]'"/><img
                                src="./img/smiley/smile.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[surprised]'"/><img
                                src="./img/smiley/surprised.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[tired]'"/><img
                                src="./img/smiley/tired.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[tongue]'"/><img
                                src="./img/smiley/tongue.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[wink]'"/><img
                                src="./img/smiley/wink.gif" alt="" border="0"></a>

                        </div></td>

  </tr>

  <tr>

    <td width="100%"><div align=center">

      <textarea name="message" id="message"rows="10" cols="40" style="width: 98%; height: 50">{MESSAGE}</textarea>

    </div></td>

  </tr>

  <tr>

    <td class="boxtwo"><div align="center"><input name="Submit" type="submit" value="Post" class="formcss1"/></div></td>

  </tr>

    </table>

</form>

    

    

    </td>

  </tr>

</table>
<div style="clear: both;">&nbsp;</div>
