<div style="margin-top:10px; width:1000px"></div>
<div id="left">
    <div class="h1" style='cursor:pointer;'>Recent News</div>
    <div id="main_list" style="margin-bottom:10px;">
        <!-- BEGIN recent-news -->
        <div class="list_left">
            <img src="./{AVATAR}"
                 style="width: 55px; height: 55px; vertical-align: top; margin-top: 2.4px; float: left; margin-right: 5px; border: solid 3px #fff"/>

            <p class="list_news">{TITLE}</p>

            <p>{TEXT}</p>

            <div style="clear:both">&nbsp;</div>
            <div style="float:left; margin-top: -6px;" class="icon-calendar">&nbsp;&nbsp;{DATE}</div>
            <div style="float:left; margin-top: -6px; margin-left: 20px;" class="icon-comments">&nbsp;&nbsp;12
                Comments
            </div>
            <div style="float:left; margin-top: -6px; margin-left: 20px;" class="icon-eye-open">&nbsp;&nbsp;20 Hits
            </div>
            <br/></div>

        <!-- END recent-news --></div>
    <div style="clear:both">&nbsp;</div>
    <div style="clear:both">&nbsp;</div>

    <div class="h1" style='cursor:pointer;'>Site Poll</div>
    <div id="main_list" style="margin-bottom:15px">
        <div class="list_left" style="border-bottom:none">
            <div class="e_title" style="margin:0 0 0 0; font-size:15px">Members</div>
            <p>Total Members: {TOT}<br/>
                Latest Member: <u><a href="http://senior.walentsoftware.com/?page=profile&user={NID}">{NNAME}</a></u></p>

            <div class="e_title" style="margin:0 0 0 0; font-size:15px">Online</div>
            <p>Webmasters online: {W}<br/>
                Admins online: {A}<br/>
                Moderators online: {M}<br/>
                Members online: {ME}<br/>
                Guest online: {G}</p>
        </div>
    </div>

    <div style="clear:both">&nbsp;</div>
    <div style="clear:both">&nbsp;</div>

    <div class="h1" style='cursor:pointer;'>Statistics</div>
    <div id="main_list" style="display:none; margin-bottom:15px;">
        <div class="list_left" style="border-bottom:none">
            <p class="e_title" style="margin:0 0 0 0; font-size:15px">Members</p>

            <p>Total Members: {TOT}</p>

            <p style=" color: #666">Latest Member: <u><a
                            href="http://senior.walentsoftware.com/?page=profile&user={NID}">{NNAME}</a></u></p>

            <div style="clear:both">&nbsp;</div>
            <p class="e_title" style="margin:0 0 0 5px; font-size:15px">Online</p>

            <p>Webmasters online: {W}<br/>
                Admins online: {A}<br/>
                Moderators online: {M}<br/>
                Members online: {ME}<br/>
                Guests online: {G}</p>
        </div>
    </div>
    <div style="clear:both">&nbsp;</div>
    <div style="clear:both">&nbsp;</div>
</div>
<div id="center_out">
    <div id="center_in">
        <!-- BEGIN row -->
        <div class="e">
            <div class="admin_banner" {AB}><img src="./{AVATAR}" class="avatar"/>

                <p class="e_title">{NTITLE}</p></div>

            <div class="inner">
                <br/>

                <div class="holder"><p class="e_text">{TEXT}</p></div>
            </div>

            <div class="e_footer">
                <div style="float:left; margin-left:45px;">
                    <div class="icon-calendar" style="margin-right:2px;">&nbsp;&nbsp;&nbsp;{DATE}</div>
                </div>

                <div style="float:left; margin-left:45px;">
                    <div class="icon-user" style="margin-right:2px;">&nbsp;&nbsp;&nbsp;Posted By <a
                                href="http://senior.walentsoftware.com/?page=profile&user={BYID}"
                                class="e_author">{BY}</a></div>
                </div>

                <div style="float:left; margin-left:45px;">
                    <div class="icon-comments" style="margin-right:2px;">&nbsp;&nbsp;&nbsp;100 comments
                    </div>
                </div>
            </div>
        </div>
        <!-- END row -->
    </div>
</div>
<div id="right" style="float:right">
    <div class="h1" style='cursor:pointer;'>Some Hierarchy Shyt</div>
    <div id="main_list" style="margin-bottom:10px;">
        <!-- BEGIN exp -->
        <div class="list_right">
            <img src="./{AVATAR}"
                 style="width: 55px; height: 55px; vertical-align: top; margin-top: 2.4px; float: left; margin-right: 5px; border: solid 3px #fff"/>

            <p class="ui"><a href="http://senior.walentsoftware.com/?page=profile&user={ID}">{BY}</a></p>

            <p class="rank_info">Level <b>{LEVEL}</b></p>

            <p class="rank_info"><b>{EXP} Faction Points</b></p>

            <p class="rank_info"><b>N/A</b></p>
        </div>
        <!-- END exp --></div>
    <div style="clear: both;">&nbsp;</div>

        </div>
