<div style="margin-top:10px; width:1000px"></div>

    <div id="mail_out">
        <div id="mail_in">
        <form name="delete" method="post" action="">
            <a href="?page=mail&amp;action=new" style="margin-right: 10px; text-decoration: none;">
                <button class="formcss1" style="margin-left: 0;">Create new private message</button>
            </a><a href="?page=mail" style="margin-right: 10px; text-decoration: none;">
                <button class="formcss1" style="margin-left: 0; background:#666">Inbox</button>
            </a><a href="?page=mail&amp;action=sent" style="margin-right: 10px; text-decoration: none;">
                <button class="formcss1" style="margin-left: 0;">Outbox</button></a>
            <!-- BEGIN delete -->
            <input style="margin-left: 30px" name="delete" align="right" type="submit" id="delete" value="Delete the selected messages" class="formcss1">
            <!-- END delete -->
            
            <!-- BEGIN no-mail -->
            <div class="table" style="background:#666; height:50px; width:100%;">
            	You have no messages.
            </div>
            <!-- END no-mail -->

            <!-- BEGIN messages -->
            <table class="table">

                <tr>
                    <td class="table1"><input name="checkbox[]" type="checkbox" id="checkbox[]" value="{ID}"></td>
                    <td class="number"><div class="{ICON}">&nbsp;</div></td>
                    <td class="table3">Message sent by:</td>
                    <td class="table4"><a href="http://senior.walentsoftware.com/?page=profile&user={BY}" class="tooltip" data="{NAME}"><img src="{AVATAR}" class="avatar_fix"/></a></td>
                    <td class="table1"><a href="./?page=mail&amp;action=view&amp;m={ID}" class="tooltip" data="{TITLE}"><b>{TITLE1}</b></a></td>
                    <td class="table2"><i>Message received on</i> {DATE}</td>
                </tr>
            </table>
            
                <!-- END messages --></form>
                </div>
        </div>
    </div>

<div style="clear:both;">&nbsp;</div>