<div style="margin-top:10px; width:1000px"></div>
<div id="left">
    <div class="h1" style='cursor:pointer;'>{NAME}'s Recent Posts</div>
    <div id="main_list" style="margin-bottom:10px;">
        <!-- BEGIN recent-news -->
        <div class="list_left">
            <img src="./{AVATAR}"
                 style="width: 55px; height: 55px; vertical-align: top; margin-top: 2.4px; float: left; margin-right: 5px; border: solid 3px #fff"/>

            <p class="list_news">{TITLE}</p>

            <p>{TEXT}</p>

            <div style="clear:both">&nbsp;</div>
            <div style="float:left; margin-top: -6px;" class="icon-calendar">&nbsp;&nbsp;{DATE}</div>
            <div style="float:left; margin-top: -6px; margin-left: 20px;" class="icon-comments">&nbsp;&nbsp;12 Comments</div>
            <div style="float:left; margin-top: -6px; margin-left: 20px;" class="icon-eye-open">&nbsp;&nbsp;20 Hits</div>
        </div>

        <!-- END recent-news --></div>
    <div style="clear:both">&nbsp;</div>
    <div style="clear:both">&nbsp;</div>

    <div class="h1" style='cursor:pointer;'>{NAME}'s Recent Topics</div>
    <div id="main_list" style="margin-bottom:15px">
        <div class="list_left" style="border-bottom:none">
            <div class="e_title" style="margin:0 0 0 0; font-size:15px">Members</div>
            <p>Total Members: {TOT}<br/>
                Latest Member: <u><a href="http://senior.walentsoftware.com/?area=profile&user={NID}">{NNAME}</a></u></p>

            <div class="e_title" style="margin:0 0 0 0; font-size:15px">Online</div>
            <p>Webmasters online: {W}<br/>
                Admins online: {A}<br/>
                Moderators online: {M}<br/>
                Members online: {ME}<br/>
                Guest online: {G}</p>
        </div>
    </div>

    <div style="clear:both">&nbsp;</div>
    <div style="clear:both">&nbsp;</div>

    <div class="h1" style='cursor:pointer;'>Recent Character</div>
    <div id="main_list" style="display:none; margin-bottom:15px;">
        <div class="list_left" style="border-bottom:none">
            <p class="e_title" style="margin:0 0 0 0; font-size:15px">Members</p>

            <p>Total Members: {TOT}</p>

            <p>Latest Member: <u><a href="http://senior.walentsoftware.com/?area=profile&user={NID}">{NNAME}</a></u></p>

            <div style="clear:both">&nbsp;</div>
            <p class="e_title" style="margin:0 0 0 5px; font-size:15px">Online</p>

            <p>Webmasters online: {W}<br/>
                Admins online: {A}<br/>
                Moderators online: {M}<br/>
                Members online: {ME}<br/>
                Guests online: {G}</p>
        </div>
    </div>
    <div style="clear:both">&nbsp;</div>
    <div style="clear:both">&nbsp;</div>
</div>
			<div id="center_in" style="width:920px">
    			<div id="member_list">
                	<!-- BEGIN row -->
                	<div class="member">
                    	<div class="member_list_avatar"> <img src="{AVATAR}" style="margin-top:5px;"/><p class="member_name"><a href="http://senior.walentsoftware.com/?page=profile&user={ID}" class="member_name">{STATUS} {NAME}</a></p></div>
                        <div class="member_list_info">
                        	<p class="member_info"> User-ID: <span style="color: #555; font-weight:bold">{ID}</span></p>
                            <p class="member_info"><span style="color: #555; font-weight:bold">{SITERANK}</span></p>
                        </div>
                    </div>
                    <!-- END row -->                
                </div>
			</div>
<div style="clear:both;">&nbsp;</div>