
<div class="header_top" style="margin-top: 10px;"><font class="font1" style="font-weight: normal;"><p
            style="margin-left: 10px; font-weight: normal; color: #000;">{TITLE}</p></font></div>
    <div class="boxthree" style="background: url(./template/Luffy/images/viewing_bg.png) repeat;"><font class="section_activity"><p
            style="font-family: Calibri; font-size: 14px; color: #000; display: inline; margin-left: 10px;">{MESSAGE}</font><center><FORM style="padding: 0px; margin: 0px"><INPUT TYPE="button" value ="{LINK-TEXT}" class="formcss1" onClick="parent.location='{LINK}'"></FORM></center></div>