<div class="errorMsg"><p style="margin-left: 10px; border-bottom: dotted black 3px; font-weight: bold; font-size:15px;">{TITLE}</p><br />
{MESSAGE}<center><FORM style="padding: 0px; margin: 0px"><INPUT TYPE="button" value ="{LINK-TEXT}" class="formcss1" onClick="parent.location='{LINK}'"></FORM></center>
    </div>
<br />
