<div class="header_top" style="margin-top: 10px;"><font class="font1" style="font-weight: normal;"><p style="margin-left: 10px; font-weight: normal; color: #000;">You're currently in this section: <span style="text-decoration: underline;">{FORUM_NAME}</span></p></font></div>
<div class="boxthree" style=" background: url(./template/Nelo/images/viewing_bg.png) repeat;"><font class="section_activity"><p style="font-family: Calibri; font-size: 14px; color: #fff; display: inline; margin-left: 10px;">Users currently viewing this section: </p>{USERS}.</font></div>
<div style="clear: both;">&nbsp;</div>
<!-- BEGIN subforum -->
<table id="{ID}" width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:10px;">
  <tr>
	<td width="0%" style="border-left: 1px solid #000; border-top: 1px solid #000; border-bottom: 1px solid #000;"  class="header_top">&nbsp; </td>
	<td  width = "47%" style="border-right: 1px solid #000; border-top: 1px solid #000; border-bottom: 1px solid #000;" class="header_top"><div align="left" class="navfont">
    <span id="category_name">{L_SUBFORUM}</span>
    </div>
</td>
	<td width="10%" style="border-right: 1px solid #000; border-top: 1px solid #000; border-bottom: 1px solid #000;"  class="header_top"><div align="center" class="section_topics">{L_TOPICS}</div></td>
    <td width="10%" style="border-right: 1px solid #000; border-top: 1px solid #000; border-bottom: 1px solid #000;"  class="header_top"><div align="center" class="section_replies">Replies</div></td>
    <td width="33%" style="border-right: 1px solid #000; border-top: 1px solid #000; border-bottom: 1px solid #000;"  class="header_top"><div align="center" class="section_lastactivity">{L_LATEST}</div></td>
  </tr>
</tr>
<!-- BEGIN subrow -->
    <tr class="row{CLASS}">
	<td id="cat_row_first1"><img src="./template/{TPL}/images/{ICON}.gif" alt=""></td>
  <td id="cat_row_first">
	<div style="padding-left:10px;" align="left">
       	<span>{FORUM}</span><br /><span id="description">{INFO}</span>
	</div>
  </td>
<td id="cat_row_second"><div align="center">
      <font class="section_topic_count">{TOPIC_COUNT}</font>
</div></td>
<td id="cat_row_second"><div align="center">
      <font class="section_replies_count">{POST_COUNT}</font>
</div></td>
<td id="cat_row_third"><div align="left" style="padding-top: 0px; padding-bottom: 0px;">
      <font class="section_activity">{TOPIC}</font>
    </div></td>
  </tr>
</tr>
<!-- END subrow -->

<!-- END subforum -->
</table>

<div style="clear: both;">&nbsp;</div>
<div class="header_top" style="margin-top: 10px;"><font class="font1" style="font-weight: normal;"><p style="margin-left: 10px; font-weight: normal; color: #000;">No Topics</span></p></font></div>
<div class="boxthree" style=" background: url(./template/Nelo/images/viewing_bg.png) repeat;"><font class="section_activity"><p style="font-family: Calibri; font-size: 14px; color: #fff; display: inline; margin-left: 10px;">There are currently no topics in this forum.</p></font></div>
<div style="clear: both;">&nbsp;</div>
<span style='float: left; margin-top: 10px;'><a href="./?area=forums=forum&amp;f={FORUM_ID}&amp;mode=new" style='text-decoration: none;'><button class='formcss2'>Create a new topic</button></a></span>
<div style="clear: both;">&nbsp;</div>