
  <div id="online_container">
	    <p class="boxone_onlinelist" style="border-bottom: 1px solid #C5C5C5; font-family: Arial; font-size: 14px; font-weight: bold; text-align: center; letter-spacing: 1px; font-style: italic; color: #fff;">Who's online in the forum</p>
<p class="" style="background:url(./template/default/images/fpattern.png); border-left: 1px solid #C5C5C5; border-right: 1px solid #C5C5C5; padding: 10px 5px 10px 5px;">{ONLINE_STATS}.</p>
	    <p class="boxone_onlinelist" style="border-bottom: 1px solid #C5C5C5; text-align: center;"><font class="webfont">Webmaster(s)</font><font style="font-family: Arial; font-size: 12px; color: #000;">: {W}<font class="adminfont"> - Administrator(s)</font><font style="font-family: Arial; font-size: 12px; color: #000;">: {A}</font> - <font class="gmodfont">Global Moderator(s)</font><font style="font-family: Arial; font-size: 12px; color: #000;">: {GM}</font> - <font class="modfont">Moderator(s)</font><font style="font-family: Arial; font-size: 12px; color: #000;">: {M}</font> - <font class="userfont">Member(s)</font><font style="font-family: Arial; font-size: 12px; color:#000;">: {ME}</font> - <font class="userfont">Guest(s)</font><font style="font-family: Arial; font-size: 12px; color:#000;">: {G}</font> </p>
			</div>