
<div id="content" class="fixed eqc" style="width: 668px; height: auto; overflow: auto;">

    <div style="clear:both;"></div>
    <div class="contInner" style="overflow:hidden;">
   
        <div style="padding: 10px">
  <form action="" method="post" name="postreply" target="_self">

    <p id="reg_head" style="margin-top: 20px;margin-bottom: 20px;"><img src="./template/default/images/exicon.png" style="vertical-align: middle;" /> <span style="color: #52969a; font-weight:bold">You can enter your crew's chatbox link here!</span> <span style="color: #FF0000; float: right;">Optional!</span></p>
    <div id="form_input">  <font style="padding-top: 10px; font-family: Calibri, Arial, sans-serif; font-size: 17px; color: #2e6366; font-variant:small-caps;">Chatbox Url:</font>
    <input name="chat" type="text" class="formcss" size="70" maxlength="130" placeholder="The length must not be greater than 130 characters." value="{CHAT}" /></div>
    
    <p id="reg_head" style="margin-top: 20px;margin-bottom: 20px;"><img src="./template/default/images/exicon.png" style="vertical-align: middle;" /> <span style="color: #52969a; font-weight:bold">You you can enter your crew's topic link here!</span> <span style="color: #FF0000; float: right;">Optional!</span></p>
   <div id="form_input">  <font style="padding-top: 10px; font-family: Calibri, Arial, sans-serif; font-size: 17px; color: #2e6366; font-variant:small-caps;">Crew Topic:</font>
    <input name="thread" type="text" class="formcss" size="70" maxlength="130" placeholder="The length must not be greater than 130 characters." value="{THREAD}" />    </div>
    
    <p id="reg_head" style="margin-top: 20px;margin-bottom: 20px;"><img src="./template/default/images/exicon.png" style="vertical-align: middle;" /><span style="color: #52969a; font-weight:bold"> You you can enter your crew's recruitment topic here!</span> <span style="color: #FF0000; float: right;">Optional!</span></p>
    <div id="form_input">  <font style="padding-top: 10px; font-family: Calibri, Arial, sans-serif; font-size: 17px; color: #2e6366; font-variant:small-caps;">Recruitment:</font>
    <input name="topic" type="text" class="formcss" size="70" maxlength="130" placeholder="The length must not be greater than 130 characters." value="{TOPIC}" /></div>
    
    <p id="reg_head" style="margin-top: 20px;margin-bottom: 20px;"><img src="./template/default/images/exicon.png" style="vertical-align: middle;" /> <span style="color: #52969a; font-weight:bold">You you can enter your crew's forum here! </span><span style="color: #FF0000; float: right;">Optional!</span></p>
  <div id="form_input">  <font style="padding-top: 10px; font-family: Calibri, Arial, sans-serif; font-size: 17px; color: #2e6366; font-variant:small-caps;">Forum Url:</font>
    <input name="forum" type="text" class="formcss" size="70" maxlength="130" placeholder="The length must not be greater than 130 characters." value="{FORUM}" /></div>
    
    
     <p id="reg_head" style="margin-top: 20px; margin-bottom: 20px;"><img src="./template/default/images/exicon.png" style="vertical-align: middle;" /> <span style="color: #52969a; font-weight:bold">You you can enter information about your crew below! </span><span style="color: #FF0000; float: right;">Optional!</span></p><div id="form_input"> <div align="center" style="margin-top: 10px; margin-bottom: 10px;">

      <input type="button" value="Bold" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[b][/b]'" class="formcss" />
     

      <input type="button" value="Italic" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[i][/i]'" class="formcss" />

      <input type="button" value="Underline" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[u][/u]'"  class="formcss"/>

      <input type="button" value="Text size" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[size=8][/size]'" class="formcss" />

      <input type="button" value="Text color" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[color=000000][/color]'" class="formcss" />

 

      <input type="button" value="Link" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[url=http://Link Here]Text Here[/url]'" class="formcss" />

      <input type="button" value="Image" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[img]Text Here[/img]'" class="formcss" />
<div style="margin-top:5px; width:100%"></div>
     </div> <div align="center">

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[angry]'"/><img
                                src="./img/smiley/angry.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[annoyed]'"/><img
                                src="./img/smiley/annoyed.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[biggrin]'"/><img
                                src="./img/smiley/biggrin.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[blink]'"/><img
                                src="./img/smiley/blink.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[confused]'"/><img
                                src="./img/smiley/confused.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[cool]'"/><img
                                src="./img/smiley/cool.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[dry]'"/><img
                                src="./img/smiley/dry.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[frown]'"/><img
                                src="./img/smiley/frown.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[happy]'"/><img
                                src="./img/smiley/happy.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[huh]'"/><img
                                src="./img/smiley/huh.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[laugh]'"/><img
                                src="./img/smiley/laugh.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[mad]'"/><img
                                src="./img/smiley/mad.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[nerd]'"/><img
                                src="./img/smiley/nerd.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[ohmy]'"/><img
                                src="./img/smiley/ohmy.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[riiight]'"/><img
                                src="./img/smiley/riiight.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[sad]'"/><img
                                src="./img/smiley/sad.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[shocked]'"/><img
                                src="./img/smiley/shocked.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[shy]'"/><img
                                src="./img/smiley/shy.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[smile]'"/><img
                                src="./img/smiley/smile.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[surprised]'"/><img
                                src="./img/smiley/surprised.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[tired]'"/><img
                                src="./img/smiley/tired.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[tongue]'"/><img
                                src="./img/smiley/tongue.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[wink]'"/><img
                                src="./img/smiley/wink.gif" alt="" border="0"></a>

                        </div> <div align="center">
    <textarea name="message" id="message" rows="10" cols="40" style="width: 98%; height: 50; font-size:14px;">{TEXT}</textarea></div></div>
    
    <p id="reg_head" style="margin-top: 20px;margin-bottom: 20px;"><img src="./template/default/images/exicon.png" style="vertical-align: middle;" /><span style="color: #52969a; font-weight:bold"> Security measure against spam bots</span> <span style="color: #FF0000; float: right;">This field is required!</span></p>
   <div id="form_input">  <font style="padding-top: 10px; font-family: Calibri, Arial, sans-serif; font-size: 17px; color: #2e6366; font-variant:small-caps;">70 + 30 =</font>
    <input name="anti_bot" type="text" class="formcss" size="70" maxlength="3" placeholder="Add the answer to the math problem here." /></div>
   
      <div align="center" style="margin-top: 10px; margin-bottom: 5px;"><input name="Submit" type="submit" class="formcss" value="Update"/>
      <input name="Reset" type="reset" class="formcss" /></div>
  </form>
</div>
<div style="clear: both;">&nbsp;</div>

    </div>
    <div style="clear:both;"></div>
</div>




