<div class="boxone">{L_BANS}</div><table width = "100%" cellspacing="2px">
<tr>
<td width="50px"><img src="{URL}tpl/default/img/email.png" /></td><td> <a href="./?s=bans-email" class="normfont">{L_EMAIL_BANS}</a><br /><font class="normfont">{L_EMAIL_BANS_INFO}</font></td>
<td width="50px"><img src="{URL}tpl/default/img/user.png" /></td><td> <a href="./?s=bans-name" class="normfont">{L_NAME_BANS}</a><br /><font class="normfont">{L_NAME_BANS_INFO}</font></td>

</tr>
<tr>
<td width="50px"><img src="{URL}tpl/default/img/attention.png" /></td><td> <a href="./?s=bans-ip" class="normfont">{L_IP_BANS}</a><br /><font class="normfont">{L_IP_BANS_INFO}</font></td>
<td width="50px"></td><td> </td>

</tr>
</table>