<div id="forum_text">Buddylist is a great way to keep an eyes to your friends and other people.</div>




    

    
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="5%" style="border-right: 1px solid #000; border-left: 1px solid #000; border-top: 1px solid #000; border-bottom: 1px solid #000;"  class="header_top"><div align="center" class="font1" style="font-weight: normal;">ID</div></td>
    <td  style="border-right: 1px solid #000; border-top: 1px solid #000; border-bottom: 1px solid #000;" width="15%" class="header_top"><div align="center" class="font1" style="font-weight: normal;">
    Title
    </div>
</td>
<td width="35%" style="border-right: 1px solid #000; border-top: 1px solid #000; border-bottom: 1px solid #000;"  class="header_top"><div align="center" class="font1" style="font-weight: normal;">Who Made It</div></td>
<td width="15%" style="border-right: 1px solid #000; border-top: 1px solid #000; border-bottom: 1px solid #000;"  class="header_top"><div align="center" class="font1" style="font-weight: normal;">Date</div></td>
<td width="15%" style="border-right: 1px solid #000; border-top: 1px solid #000; border-bottom: 1px solid #000;"  class="header_top"><div align="center" class="font1" style="font-weight: normal;">Edit</div></td>
<td width="13%" style="border-right: 1px solid #000; border-top: 1px solid #000; border-bottom: 1px solid #000;"  class="header_top"><div align="center" class="font1" style="font-weight: normal;">Remove</div></td>
</td>

  </tr>
</tr>
<!-- BEGIN row -->
  <tr class="row{CLASS}">
    <td id="cat_row_first1" style="border-right: 1px solid #000; text-align: center;"><font class="normfont" style="color: #000;">{ID}</font></td>
    <td id="cat_row_first"><div align="center">
  <font class="normfont" style="color: #000;"> {TIT}</font>
    </div>
  </td>
  <td id="cat_row_second"><div align="center">{BY}</span></div></td>
  <td id="cat_row_third"><font class="normfont">
  <div align="center">{DATE}</div></font></td>
  <td id="cat_row_fourth" style="padding-right: 10px;"><font class="normfont" style="color: #000;"><div align="center"><a style="color: #000;"  href="./?s=community&module=news&mode=edit&news_id={ID}">Edit</a> </div></font></td>
  <td id="cat_row_second"><font class="normfont"><div align="center">{DELETE}</div></font></td>

  </tr>
</tr>
   <!-- END row -->
</table><br /><span style='float: left; margin-top: 10px;'><a href="./?area=forum&s=forum&amp;f={FORUM_ID}&amp;mode=new" style='text-decoration: none;'><button class='formcss2'>Create a new announcement</button></a></span><div id="boxPag" style="margin-top: 0px;">{PAGES}</div>


<div style="clear: both;">&nbsp;</div>