<div style="margin-left: 10px;"><div class="boxone" style="margin-top: 10px; border-top: 1px solid #C5C5C5; border-left: 1px solid #C5C5C5; border-right: 1px solid #C5C5C5; border-bottom: 1px solid #C5C5C5;"><font class="font1" style="font-weight: normal;">{L_COMMUNITY}</div></font></div>
<div class="boxthree" style="border-left: 1px solid #C5C5C5; border-right: 1px solid #C5C5C5; border-bottom: 1px solid #C5C5C5; background: url(http://pirate-zone.zqlz.org/forum//template/default/images/fpattern.png) repeat;"><font class="section_activity"><table width = "100%" cellspacing="2px">
<tr>
<td width="45px"><img src="{URL}tpl/default/img/user.png" /></td><td> <a href="./?s=community&amp;module=users" class="normfont">{L_USERS}</a><br /><font class="normfont">{L_USERS_INFO}</font></td>
<td width="45px"><img src="{URL}tpl/default/img/groups.png" /></td><td> <a href="./?s=community&amp;module=groups" class="normfont">{L_GROUPS}</a><br /><font class="normfont">{L_GROUPS_INFO}</font></td>

</tr>
<tr>
<td width="45px"><img src="{URL}tpl/default/img/user.png" /></td><td> <a href="./?s=community&amp;module=purge-users" class="normfont">{L_PURGE_USERS}</a><br /><font class="normfont">{L_PURGE_USERS_INFO}</font></td>

<td width="45px"><img src="{URL}tpl/default/img/denied.png" /></td><td> <a href="./?s=bans" class="normfont">{L_BANS}</a><br /><font class="normfont">{L_BANS_INFO}</font></td>

</tr>
<tr>
<td width="45px"><img src="{URL}tpl/default/img/settings.png" /></td><td> <a href="./?s=community&amp;module=ranks" class="normfont">{L_RANKS}</a><br /><font class="normfont">{L_RANKS_INFO}</font></td>
<td width="45px"></td><td></td>
</tr>
</table></font></div></div>