<div class="quick_reply_header" style="margin-top:30px;"><font style="font-weight: normal; color: #fff;">Edit</font>
</div>


<table class="" width="100%" border="0" cellspacing="2" cellpadding="4"
       style="background: url(./template/Luffy/images/text.png) repeat;">
<form action="" method="post" name="postreply">
    <!-- BEGIN title -->
    <tr>
        <td width="100%" colspan="2">
            <div align="left"><br/>
                <input name="title" type="text"  size="40" maxlength="40" value="{TITLE}"/>
            </div>
        </td>
    </tr>
    <!-- END title -->

    
        <tr>

            <td colspan="2">
                <div align="center" style="margin-top: 10px; margin-bottom: 10px;">

      <input type="button" value="Bold" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[b][/b]'" class="formcss1" />
     

      <input type="button" value="Italic" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[i][/i]'" class="formcss1" />

      <input type="button" value="Underline" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[u][/u]'"  class="formcss1"/>

      <input type="button" value="Text size" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[size=8][/size]'" class="formcss1" />

      <input type="button" value="Text color" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[color=000000][/color]'" class="formcss1" />

 <input type="button" value="Text align" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[align=center]Text Here[/align]'" class="formcss1" />

      <input type="button" value="Link" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[url=http://Link Here]Text Here[/url]'" class="formcss1" />

      <input type="button" value="Image" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[img]Text Here[/img]'" class="formcss1" />

	  <input type="button" value="Youtube video" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[youtube]Text Here[/youtube]'" class="formcss1" />



 <input type="button" value="Spoiler" onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[Spoiler=button text]content[/spoiler]'" class="formcss1" />


    </div>
            </td>

        </tr>

        <tr>

            <td colspan="2">
                <div align="center">

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[angry]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/angry.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[annoyed]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/annoyed.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[biggrin]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/biggrin.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[blink]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/blink.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[confused]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/confused.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[cool]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/cool.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[dry]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/dry.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[frown]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/frown.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[happy]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/happy.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[huh]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/huh.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[laugh]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/laugh.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[mad]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/mad.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[nerd]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/nerd.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[ohmy]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/ohmy.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[riiight]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/riiight.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[sad]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/sad.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[shocked]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/shocked.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[shy]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/shy.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[smile]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/smile.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[surprised]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/surprised.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[tired]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/tired.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[tongue]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/tongue.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['postreply']. elements['message'].value=document.forms['postreply']. elements['message'].value+'[wink]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/wink.gif" alt="" border="0"></a>

                        </div>
            </td>

        </tr>

        <tr>

            <td width="100%">
                <div align="center">

                    <textarea name="message" id="message" rows="10" cols="40" style="width: 95%; height: 110">{MESSAGE}</textarea>

                </div>
            </td>

        </tr>

        <tr>

            <td>
               <div align="center" style="margin:10px;"><button TYPE="submit" name="Submit" class="formcss1" style="margin-left: 0;">Post</button></div>
            </td>

        </tr>
    </form>
</table>

<div class="quick_reply_header"
     style="padding:15px;  border-bottom-left-radius: 7px; -moz-border-radius-bottomleft:7px;  border-bottom-right-radius: 7px; -moz-border-right-bottomleft:7px;"></div>