<div style="margin-left: 10px;"><div class="boxone" style="margin-top: 10px; border-top: 1px solid #C5C5C5; border-left: 1px solid #C5C5C5; border-right: 1px solid #C5C5C5; border-bottom: 1px solid #C5C5C5;"><font class="font1" style="font-weight: normal;">{L_ADMIN_PANEL}</font></div>
<div class="boxthree" style="border-left: 1px solid #C5C5C5; border-right: 1px solid #C5C5C5; border-bottom: 1px solid #C5C5C5; background: url(http://pirate-zone.zqlz.org/forum//template/default/images/fpattern.png) repeat;"><font class="section_activity">Forum Version: <b>{}</b> <br/>
{L_PHP_VERSION}: <b>{PHP_VERSION}</b> <br/>
{L_MYSQL_VERSION}: <b>{MYSQL_VERSION}</b></font></div></div>
