 <div id="forum_text">New topic page helps you contribute to the community by posting a new topic in its archieve!</div>
<div class="quick_reply_header"
     style="padding:5px;  border-top-left-radius: 7px; -moz-border-radius-topeft:7px;  border-top-right-radius: 7px; -moz-border-right-topleft:7px; color:#000">New Announcemnt</div>

     <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background: url(./template/Luffy/images/text.png) repeat;padding: 4px;">
<form action="" method="post" name="post" target="_self">
  <tr>

    <td width="5%"><div align="left" style="padding-right: 10px; padding-bottom: 10px;"><font style="font-family: Calibri; font-size: 15px; color: #000; font-variant: small-caps; letter-spacing: 1px;">Title:</font></div></td>

    <td width="95%"><div align="left">

      <input style="margin-bottom: 10px;" name="title" type="text"  size="40" maxlength="100" /> - <span style="padding-bottom: 10px; font-family: Arial; color: red; font-weight: bold; text-decoration: bold; font-size: 11px;">Make sure you use a proper title name.</span>

    </div></td>



  
 <tr>

            <td colspan="2">
                <div align="center" style="margin-top: 10px; margin-bottom: 10px;">
      <input type="button" value="Bold" onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[b][/b]'" class="formcss1" />
     

      <input type="button" value="Italic" onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[i][/i]'" class="formcss1" />

      <input type="button" value="Underline" onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[u][/u]'"  class="formcss1"/>

      <input type="button" value="Text size" onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[size=8][/size]'" class="formcss1" />

      <input type="button" value="Text color" onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[color=000000][/color]'" class="formcss1" />

 <input type="button" value="Text align" onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[align=center]Text Here[/align]'" class="formcss1" />

      <input type="button" value="Link" onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[url=http://Link Here]Text Here[/url]'" class="formcss1" />

      <input type="button" value="Image" onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[img]Text Here[/img]'" class="formcss1" />

	  <input type="button" value="Youtube video" onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[youtube]Text Here[/youtube]'" class="formcss1" />



 <input type="button" value="Spoiler" onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[Spoiler=button text]content[/spoiler]'" class="formcss1" />

                </div>
            </td>

        </tr>

        <tr>

            <td colspan="2">
               <div align="center">

                            <a nohref
                               onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[angry]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/angry.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[annoyed]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/annoyed.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[biggrin]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/biggrin.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[blink]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/blink.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[confused]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/confused.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[cool]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/cool.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[dry]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/dry.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[frown]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/frown.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[happy]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/happy.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[huh]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/huh.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[laugh]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/laugh.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[mad]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/mad.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[nerd]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/nerd.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[ohmy]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/ohmy.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[riiight]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/riiight.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[sad]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/sad.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[shocked]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/shocked.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[shy]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/shy.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[smile]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/smile.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[surprised]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/surprised.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[tired]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/tired.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[tongue]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/tongue.gif" alt="" border="0"></a>

                            <a nohref
                               onclick="document.forms['post']. elements['message'].value=document.forms['post']. elements['message'].value+'[wink]'"/><img
                                src="http://forum.pirate-zone.com/img/smiley/wink.gif" alt="" border="0"></a>

                        </div>
            </td>

        </tr>

  <tr>

    <td colspan="2"><div align="center">

      <textarea name="message" id="input1" rows="10" cols="40" style="width: 95%; height: 50; margin-top: 10px;"></textarea>

    </div></td>

  </tr>


  <tr>

    <td colspan="2"><div align="center" style="margin:10px;"><button TYPE="submit" name="Submit" class="formcss1" style="margin-left: 0;">Post</button></div></td>
  </tr>
</form>
    </table>



    

    



<!--


<div align="center" style="display: {POLL}">
<div class="bodyline"><div class="boxone"><font class="navfont">{L_POLL}</font></div><font class="normfont"><table><tr><td>{L_QUESTION}:</td><td><input name="question" type="text" class="formcss" size="40" maxlength="40" /></td></tr>
<tr><td>{L_OPTION} 1 :</td><td><input name="option1" type="text" class="formcss" size="40" maxlength="40" /></td></tr>
<tr><td>{L_OPTION} 2 :</td><td><input name="option2" type="text" class="formcss" size="40" maxlength="40" /></td></tr>
<tr><td>{L_OPTION} 3 :</td><td><input name="option3" type="text" class="formcss" size="40" maxlength="40" /></td></tr>
<tr><td>{L_OPTION} 4 :</td><td><input name="option4" type="text" class="formcss" size="40" maxlength="40" /></td></tr>
<tr><td>{L_OPTION} 5 :</td><td><input name="option5" type="text" class="formcss" size="40" maxlength="40" /></td></tr>
</table></font>
</div>
</div>
<div class="bodyline">
<div align="center"><input name="Submit" type="submit" value="{L_SUBMIT}" class="formcss" /></div>
</div>
-->
</form><div class="quick_reply_header"
     style="padding:15px;  border-bottom-left-radius: 7px; -moz-border-radius-bottomleft:7px;  border-bottom-right-radius: 7px; -moz-border-right-bottomleft:7px;"></div>