<div style="margin-left: 10px;"><div class="boxone" style="margin-top: 10px; border-top: 1px solid #C5C5C5; border-left: 1px solid #C5C5C5; border-right: 1px solid #C5C5C5; border-bottom: 1px solid #C5C5C5;"><font class="font1" style="font-weight: normal;">{L_SYSTEM}</font></div>
<div class="boxthree" style="border-left: 1px solid #C5C5C5; border-right: 1px solid #C5C5C5; border-bottom: 1px solid #C5C5C5; background: url(http://pirate-zone.zqlz.org/forum//template/default/images/fpattern.png) repeat;"><font class="section_activity"><table width = "100%" cellspacing="2px">
<tr>
<td width="50px"><images src="{URL}template/default/images/system.png" /></td><td> <a href="./?s=system&module=configuration" class="normfont"><b>{L_CONFIGURATION}</b></a><br /><font class="normfont">{L_CONFIGURATION_INFO}</font></td>
<td width="50px"><images src="{URL}template/default/images/groups.png" /></td><td> <a href="./?s=system&module=forums" class="normfont"><b>{L_FORUM_SETTINGS}</b></a><br /><font class="normfont">{L_FORUM_SETTINGS_INFO}</font></td>

</tr>
<tr>
<td width="50px"><images src="{URL}template/default/images/user.png" /></td><td width="300"> <a href="./?s=system&module=users" class="normfont"><b>{L_USER_SETTINGS}</b></a><br /><font class="normfont">{L_USER_SETTINGS_INFO}</font></td>
<td width="50px"><images src="{URL}template/default/images/user.png" /></td><td width="300"> <a href="./?s=system&module=avatars" class="normfont"><b>{L_AVATAR_SETTINGS}</b></a><br /><font class="normfont">{L_AVATAR_SETTINGS_INFO}</font></td>

</tr>

<tr>
<td width="50px"><images src="{URL}template/default/images/clipboard.png" /></td><td width="300"> <a href="./?s=system&module=extentions" class="normfont"><b>{L_EXTENTIONS}</b></a><br /><font class="normfont">{L_EXTENTIONS_INFO}</font></td>
<td width="50px"></td><td width="300"></td>

</tr>
</table>
</div></font></div><div style="margin-left: 10px;"><div class="boxone" style="margin-top: 10px; border-top: 1px solid #C5C5C5; border-left: 1px solid #C5C5C5; border-right: 1px solid #C5C5C5; border-bottom: 1px solid #C5C5C5;"><font class="font1" style="font-weight: normal;">{L_MAINTANENCE}</font></div>
<div class="boxthree" style="border-left: 1px solid #C5C5C5; border-right: 1px solid #C5C5C5; border-bottom: 1px solid #C5C5C5; background: url(http://pirate-zone.zqlz.org/forum//template/default/images/fpattern.png) repeat;"><font class="section_activity">
<table width="100%" cellspacing="2px">
<tr>
<td width="50px"><images src="{URL}template/default/images/database.png" /></td><td width="300"> <a href="./?s=system" class="normfont"><b>LOL FAIL</b></a><br /><font class="normfont">FAIL!</font></td>
<td width="50px"><images src="{URL}template/default/images/tools.png" /></td><td width="300"> <a href="./?s=system&module=clear-read" class="normfont"><b>{L_PURGE_TOPIC_STATUS}</b></a><br /><font class="normfont">{L_PURGE_TOPIC_STATUS_INFO}</font></td>

</tr>
<tr>
<td width="50px"><images src="{URL}template/default/images/tools.png" /></td><td width="300"> <a href="./?s=system&module=force-logout" class="normfont"><b>{L_FORCE_LOGOUT}</b></a><br /><font class="normfont">{L_FORCE_LOGOUT_INFO}</font></td>
<td width="50px"><images src="{URL}template/default/images/tools.png" /></td><td width="300"> <a href="./?s=system&module=clear-online" class="normfont"><b>{L_PURGE_ONLINE}</b></a><br /><font class="normfont">{L_PURGE_ONLINE_INFO}</font></td>

</tr>
</table></div></font></div>