/************************    START THE GENERAL STYLE FOR THE LAYOUT....    ********************/
* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../images/patterns/6.png);
    scrollbar-3dlight-color: #000;
    scrollbar-arrow-color: #dd4f4f;
    scrollbar-base-color: #dd4f4f;
    scrollbar-darkshadow-color: #000;
    scrollbar-face-color: #000;
    scrollbar-highlight-color: #dd4f4f;
    scrollbar-shadow-color: #000;
}

body, td, textarea, input {
    font-family: arial;
    font-size: 12px;
}

body, td, a, .buttonone {
    color: #FFFFFF;
    text-decoration: none;
}

::selection {
    background: #000;
    color: #fff;
}

::-moz-selection {
    background: #000;
    color: #fff;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    background-color: #666;
    padding: 5px;
}

/* UP, DOWN, LEFT and RIGHT button styling */
::-webkit-scrollbar-button:hover {
    background-color: #DBDBDB !important;
}

::-webkit-scrollbar-button:vertical:decrement {
    background: url('../images/up.png') no-repeat center;
}

::-webkit-scrollbar-button:vertical:increment {
    background: url('../images/down.png') no-repeat center;
}

::-webkit-scrollbar-button:horizontal:decrement {
    background: url('../images/left.png') no-repeat center;
}

::-webkit-scrollbar-button:horizontal:increment {
    background: url('../images/right.png') no-repeat center;
}

::-webkit-scrollbar-button:active:vertical:decrement {
    background: url('../images/up-active.png') no-repeat center #000 !important;
}

::-webkit-scrollbar-button:active:vertical:increment {
    background: url('../images/down-active.png') no-repeat center #000 !important;
}

::-webkit-scrollbar-button:active:horizontal:decrement {
    background: url('../images/left-active.png') no-repeat center #000 !important;
}

::-webkit-scrollbar-button:active:horizontal:increment {
    background: url('../images/right-active.png') no-repeat center #000 !important;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #CDCDCD;

}

::-webkit-scrollbar-thumb:hover {
    background-color: #A6A6A6;

}

::-webkit-scrollbar-thumb:active {
    background-color: #606060;

}

#wrapper {
    background: url(../images/patterns/6.png);
    width: 1260px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

/************************    START THE HEADER STYLINGS....    ********************/

#top_bar {
    background: #444 repeat-x;
    width: 35%;
    min-height: 20px;
    margin: 0px 0px 0px 50px;
    z-index: -1px;
    opacity: .4;
    border-right: 3px dotted #fff;
    border-left: 3px dotted #fff;
    border-bottom: 5px dotted #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

#top_bar2 {
    background: #444 repeat-x;
    width: 52%;
    min-height: 60px;
    margin: -40px 0px 0px 600px;
    z-index: -1px;
    opacity: .4;
    border-right: 3px dotted #fff;
    border-left: 3px dotted #fff;
    border-bottom: 5px dotted #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

#main_banner {
    background: url(../images/banner.png) no-repeat top center;
    width: auto;
    height: 241px;
}

#bread_ui {
    background: url(../images/bread_ui.png);
    margin: 18px auto 15px auto;
    width: 1000px;
    height: 50px;
    border: 3px dotted #999;
    border-radius: 10px;
    /*-webkit-mask-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 1), rgba(0, 0, 0, .4));*/
}

#bread_ui1 {
    background: url(../images/bread_ui.png);
    margin: 18px auto 15px auto;
    width: 1000px;
    height: 50px;
    border: 3px dotted #999;
    border-radius: 10px;
}

.ui p {
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
    color: #666;
    font-variant: small-caps;
}

.ui a {
    text-decoration: underline;
    color: #666;
}

.location {
    margin: 0 auto 5px auto;
    width: 1217px;
    font-family: Arial;
    font-size: 11px;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-variant: small-caps;
}

.location a {
    color: #666;
    text-decoration: underline;
}

/************************    START THE LEFT STYLINGS....    ********************/

#content #left {
    width: 295px;
    min-height: 100%;
    padding: 0 0 0 0px;
    float: left;
    margin-left: 55px;
}

#content #left .h1 {
    background-color: rgba(33, 122, 153, 0.90);
    margin: 0px;
    padding: 12px;
    font: normal 13pt Calibri;
    color: #FFFFFF;
    text-transform: uppercase;
    border-top: 3px dotted #bfbfbf;
    border-left: 3px dotted #bfbfbf;
    border-bottom: 3px dotted #bfbfbf;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

#content #left .h1 a {
    color: #FFFFFF;
    text-decoration: none;
}

#content #left .links a {
    display: block;
    background-color: #FAFAFA;
    width: 76px;
    padding: 3px;
    padding-left: 10px;
    color: #7F7F7F;
    text-decoration: none;
    float: left;
}

.list_left {
    width: 290px;
    max-height: 90px;
    font-family: Arial;
    font-size: 11px;
    color: #555;
    padding: 5px 0 5px 0;
    margin-bottom: 5px;
    border-bottom: 2px dotted #737070;
}

.list_news {
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: 2px dotted #737070;
    font-family: Arial;
    font-size: 12px;
}

.list_news a {
    color: #555;
    text-decoration: none;
    border-bottom: none
}

#canvas {
    margin-left: 33px;
    margin-bottom: 5px;
}

/************************    START THE CENTER STYLINGS....    ********************/
#content #center_out {
    background: url(../images/e_bg.png);
    width: 630px;
    height: 100%;
    display: inline-block;
    margin-left: 10px;
    border: 2px dotted #999;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
}

#content #center_in {
    display: inline-block;
    width: 620px;
    margin-left: 5px
}

/*News Styles */
.e {
    background: url(../images/patterns/11.png);
    padding: 5px;
    height: auto;
    margin-bottom: 27px;
}

.inner {
    background: url(../images/inner.png);
    margin: 0 auto 0 auto;
    height: auto;
}

.avatar {
    width: 40px;
    height: 40px;
    margin-left: 28px;
    border: 3px #dfdfdf solid;
    margin-top: 60px
}

.e_title {
    font-family: 'Lato', Arial;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 17px;
    margin-top: -35px;
    margin-left: 85px;
}

.admin_banner {
    background: url(../images/test.png) no-repeat;
    max-width: 620px;
    height: 96px;
    margin-top: 5px;
}

.holder {
    padding: 5px;
}

.e_text {
    font-size: 12px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
}

.e_footer {
    margin-top: 12px;
    color: #a7a5a2;
    font-size: 12px;
    font-family: "Arial";
    height: 20px
}

.e_author {
    color: #999;
    font-weight: bold;
    font-variant-alternates: contextual;
    font-size: 12px;
    font-family: "Arial";
}

/* Comment Styling */

.comment, #addCommentContainer {
    padding: 12px;
    width: 400px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid 222;
    color: #888;
    margin-bottom: 25px;
    margin-left: 50px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.comment .avatar {
    height: 50px;
    left: -70px;
    position: absolute;
    width: 50px;
    top: 50%;
    margin-top: -35px;
    -moz-box-shadow: 1px 1px 0 #c2c2c2;
    -webkit-box-shadow: 1px 1px 0 #c2c2c2;
    box-shadow: 1px 1px 0 #c2c2c2;
}

.comment .avatar img {
    display: block;
}

.comment .name a {
    padding-bottom: 10px;
    display: inline;
    color: #00858E;
    font-weight: bold;
    font-variant: small-caps;
    font-family: Calibri;
    font-size: 20px;
}

.comment .date {
    font-size: 10px;
    padding: 6px 0;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #bbb;
}

.comment p,
#addCommentContainer p {
    font-size: 18px;
    line-height: 1.5;
    overflow-x: hidden;
}

#submit {
    background-color: #58B9EB;
    border: 1px solid #40A2D4;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
    margin-top: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#submit:hover {
    background-color: #80cdf5;
    border-color: #52b1e2;
}

/************************    START THE RIGHT STYLINGS....    ********************/

#content #right {
    width: 295px;
    min-height: 100%;
    padding: 0 0 0 0;
    float: left;
    margin-right: 50px;
}

#content #right .h1 {
    background-color: rgba(33, 122, 153, 0.90);
    margin: 0px;
    padding: 12px;
    font: normal 13pt Calibri;
    color: #FFFFFF;
    text-transform: uppercase;
    border-top: 3px dotted #bfbfbf;
    border-right: 3px dotted #bfbfbf;
    border-bottom: 3px dotted #bfbfbf;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

#content #right .h1 a {
    color: #FFFFFF;
    text-decoration: none;
}

.list_right {
    width: 290px;
    height: 65px;
    font-family: Arial;
    font-size: 11px;
    color: #fff;
    padding: 5px 0 5px 0;
    margin-bottom: 5px;
    border-bottom: 2px dotted #737070;
}

.ranked_user a {
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    font-variant: small-caps;
    margin-top: -12px;
    width: 214px;
    height: 41px;
    color: #666;
}

.rank_info {
    font-family: 'Lato';
    font-weight: bold;
    font-size: 12px;
    font-variant: small-caps;
    width: 214px;
    color: #666;
}

/************************    START THE CONTROL PANEL STYLINGS....    ********************/
#content #cp_center_out {
    background: url(../images/e_bg.png);
    width: 650px;
    height: 100%;
    display: inline-block;
    margin-left: 25px;
    border: 2px dotted #999;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
}

#content #cp_center_in {
    display: inline-block;
    width: 640px;
    margin-left: 5px
}

#reg_head {
    background: url(../images/patterns/6.png);
    border: 1px solid #E2E2E2;
    border-radius: 7px;
    box-shadow: 0 0 6px #D7D7D7;
    color: #666;
    font-family: Calibri, Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: -10px;
    padding: 4px;
}

#input1 {
    background: url(../images/input_bg_slice.png) repeat-x scroll left top #FEFEFE;
    border: 1px solid #CBCBCB;
    color: #7C7C7C;
    font-size: 12px;
    margin: 5px 10px;
    padding: 8px 8px;
    width: 410px;
}

.font1 {
    font-family: Calibri;
    font-weight: bold;
    font-size: 16px;
    color: #666;
}

.header_top {
    /*background-color: #003b7d;*/
    background: url(../images/patterns/6.png) repeat;
    text-align: left;
    margin: 0;
    padding: 3px;
}

/************************    START THE FOOTER STYLINGS....    ********************/
#under_body {
    background: url(../images/under_body.png);
    width: 1240px;
    height: 188px;
    margin: 0 auto 0 auto;
    border-top: 3px solid #838280
}

#footer_img {
    margin: 0 auto 0px auto;
    background: url("../images/footer.png") repeat-x scroll 0 0 transparent;
    bottom: 0;
    height: 45px;
    width: 913px;
    text-align: center;
}

#footer_img p {
    font-family: Verdana;
    font-variant: small-caps;
    color: #FFF;
    font-size: 13px;
    padding: 25px 10px 0px 10px;
}

#footer {
    padding-bottom: 60px;
    width: 100%;
}

#footer_container {
    margin: 0 auto;
    text-align: left;
    width: 913px;
}

#footer_sitemap {
    font-size: 14px;
    line-height: 1.4em;
    padding: 24px 10px;
    font-family: Calibri;
    color: #666;
    font-variant: small-caps;
    display: inline;
    float: left;
}

#footer_sitemap ul {
    float: left;
    /*margin-right: 60px;*/
    list-style: none outside none;
}

#footer_sitemap ul li a {
    font-family: Calibri;
    color: #666;
    font-variant: small-caps;
    font-size: 14px;
    text-decoration: none;
}

#footer_right_part {
    text-align: right;
    padding-top: 35px;
    font-family: Calibri;
    color: #4F8472;
    font-variant: small-caps;
    font-size: 14px;
    float: right;
}

#footer_right_part a {
    color: #666;
    font-variant: small-caps;
    font-size: 14px;
    text-decoration: underline;
}

/************************    START THE NAVAGATION MENU....    ********************/

#navigation > ul {
    width: 500px;
    margin: 0px auto;
}

#navigation > ul > li {
    list-style: none;
    display: inline;
    line-height: 1;
    margin-left: 30px;
    position: relative;
}

#navigation > ul > li > a {
    color: inherit;
    text-decoration: none !important;
    font-size: 24px;
    padding: 5px;
}

#navigation li ul {
    position: absolute;
    list-style: none;
    text-align: center;
    width: 180px;
    left: 40%;
    margin-left: -90px;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: max-height 0.4s linear;
    -moz-transition: max-height 0.4s linear;
    transition: max-height 0.4s linear;
}

#navigation li ul li {
    background-color: #313131;
}

#navigation li ul li a {
    padding: 12px;
    color: #fff !important;
    text-decoration: none !important;
    display: block;
}

#navigation li ul li:nth-child(odd) {
    background-color: #555;
}

#navigation li ul li:hover {
    background-color: #444;
}

#navigation li ul li:first-child {
    margin-top: 15px;
    position: relative;
}

#navigation li ul li:first-child:before {
    /* the pointer tip */
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;
    border-bottom-color: #313131;
    left: 50%;
    top: -10px;
    margin-left: -5px;
}

#navigation li ul li:last-child {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

#navigation li:hover ul {
    max-height: 200px;
}

/************************    START THE PROFILE STYLINGS....    ********************/
#profile {
    width: 920px;
    height: auto;
    padding: 5px;
}

#profile_header {
    width: 95%;
    height: 166px;
    margin-top: 5px;
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4CF0C850,endColorstr=#4CF0C850)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4CF0C850, endColorstr=#4CF0C850);
    background: rgba(0, 0, 0, 0.3);
}

.profile_avatar {
    height: 166px;
    width: 166px;
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000,endColorstr=#000)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#000, endColorstr=#000);
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    float: left
}

.profile_name {
    margin-top: 5px;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    font-variant: small-caps;
}

.profile_header2 {
    width: 480px;
    height: 166px;
    float: left;
    border-right: 2px dashed white;
    margin-left: 10px
}

.profile_exp {
    margin-top: 5px;
    font-family: "Lato";
    font-size: 44px;
    font-weight: 100;
    margin-left: 10px;
}

.current_exp {
    margin-top: 5px;
    font-family: "Lato";
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    width: 215px;
    text-align: center
}

.exp_bar {
    height: 10px;
    width: 215px;
    background: rgba(223, 215, 215, 0.3);
}

.profile_header3 {
    width: 200px;
    height: 166px;
    float: left;
    margin-left: 10px
}

.level {
    margin-top: 5px;
    font-family: "Lato";
    font-size: 24px;
    font-weight: 100;
    width: 100%;
    text-align: center;
    border-bottom: 1px dotted white;
}

.rank {
    margin-top: 5px;
    font-family: "Lato";
    font-size: 15px;
    font-weight: 300;
    width: 100%;
    text-align: center;
}

.ratio {
    font-family: "Lato";
    font-size: 14px;
    font-weight: 300;
}

.user_info_1 {
    width: 45%;
    min-height: 416px;
    float: left;
    border-right: 1px dotted white;
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000,endColorstr=#000)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#000, endColorstr=#000);
    background: rgba(0, 0, 0, 0.6);
    margin-left: 25px;
}

.user_info_2 {
    width: 45%;
    min-height: 416px;
    float: left;
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000,endColorstr=#000)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#000, endColorstr=#000);
    background: rgba(0, 0, 0, 0.6);
}

.user_info_header {
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: "Vollkorn";
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    width: 100%;
    text-align: center;
    border-bottom: 1px dotted white;
}

.user_info_header2 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: "Vollkorn";
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    width: 100%;
    text-align: center;
    float: left;
    border-bottom: 1px dotted white;
}

.about_me {
    width: 95%;
    height: 166px;
    margin-top: 5px;
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4CF0C850,endColorstr=#4CF0C850)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4CF0C850, endColorstr=#4CF0C850);
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
}

.about_me_text {
    color: rgba(33, 122, 153, 0.90);
    font-family: Arial;
    font-size: 14px;
    padding: 5px;
}

/************************    START THE MEMBER LIST STYLINGS....    ********************/
#members_list {
    width: 920px;
    height: auto;
}

.member {
    height: 250px;
    width: 250px;
    background: rgba(192, 186, 194, 0.5);
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    border: 3px dotted #999;
    border-top: none;
    margin: 5px;
    float: left;
}

.member_list_avatar {
    height: 138px;
    width: 130px;
    text-align: center;
    float: left;
    background: rgba(92, 106, 110, 0.4);
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.member_name {
    font-size: 15px;
    color: rgb(33, 122, 153);
    margin-top: 5px;
    font-family: Lato;
    font-weight: bold;
    font-variant: small-caps;
}

.member_list_info {
    float: left;
    margin-left: 10px;
}

.member_info {
    color: rgba(33, 122, 153, 0.90);
    font-family: Calibri, Arial, sans-serif;
    font-size: 15px;
    border-bottom: dotted 1px black;
    margin-bottom: 5px;
}

/************************    START THE MESSAGING STYLINGS....    ********************/
#content #mail_out {
    background: url(../images/e_bg.png);
    width: auto;
    height: 100%;
    display: inline-block;
    margin-left: 25px;
    border: 2px dotted #999;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
}

#content #mail_in {
    display: inline-block;
    width: auto;
    padding: 5px
}

.subject {
    font-family: "Scada";
    font-size: 12px;
    background: rgba(33, 122, 153, 0.90);
    border: 1px dotted #bfbfbf;
    padding: 6px;
    text-align: center;
}

.number {
    font-family: "Scada";
    font-size: 12px;
    background: rgba(33, 122, 153, 0.90);
    border: 1px dotted #bfbfbf;
    padding: 6px;
    text-align: center;
}

.table {
    font-family: "Scada";
    font-size: 12px;
    width: 100%;
}

.table1 {
    font-family: "Scada";
    font-size: 12px;
    text-align: center;
    background: rgba(33, 122, 153, 0.90);
    border: 1px dotted #bfbfbf;
    padding: 6px;
    width: 25px
}

.table3 {
    font-family: "Scada";
    font-size: 12px;
    text-align: center;
    background: rgba(33, 122, 153, 0.90);
    border: 1px dotted #bfbfbf;
    padding: 6px;
    min-width: 120px;
    height: 20px
}

.table4 {
    font-family: "Scada";
    font-size: 12px;
    text-align: center;
    background: rgba(33, 122, 153, 0.90);
    border: 1px dotted #bfbfbf;
    padding: 6px;
    width: 10px;
}

.table2 {
    font-family: "Scada";
    font-size: 12px;
    text-align: center;
    width: 270px;
    background: rgba(33, 122, 153, 0.90);
    border: 1px dotted #bfbfbf;
    padding: 5px;
}

#mail {
    width: 920px;
    height: auto;
    padding: 5px;
}

.m_list_left {
    width: 290px;
    max-height: 90px;
    font-family: 'Lato', Arial;
    font-size: 12px;
    color: #555;
    padding: 5px 0 5px 0;
    margin-bottom: 5px;
}

.m_list_news {
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: 2px dotted #737070;
    font-family: 'Lato', Arial;
    font-size: 12px;
}

.avatar_cell {
    margin-left: 50px;
}

.avatar_fix {
    max-width: 25px;
    max-height: 25px;
    border: 1px dotted #fff;
    margin-top: 5px;
}

.avatar_div {
    width: 45px;
    height: 45px;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
    border: solid 2px #777
}

.access_info {
    margin: 21px 0px 0px 20px;
    float: left;
}

.line {
    display: block;
    width: 100%;
    border: none;
    color: #333;
    background: transparent;
    margin-top: -10px;
    border-bottom: 1px dotted gray;
    padding: 5px 2px 0 2px;
    opacity: .7;
}

.line:focus {
    outline: none;
    border-color: #51CBEE;
}

.message_title {
    width: 770px;
    background: rgba(33, 122, 153, 0.90);
    font-family: Lato;
    height: 20px;
    font-size: 15px;
    padding: 5px;
    margin-top: 10px;
    border: 2px dotted #bfbfbf;
    border-bottom: none
}

.message_container {
    width: 770px;
    min-height: 175px;
    background: url(../images/inner.png) repeat;
    padding: 5px;
    border-left: 2px dotted rgba(33, 122, 153, 1.0);
    border-right: 2px dotted rgba(33, 122, 153, 1.0);
    border-top: none;
    border-bottom: none
}

.message_sender_info {
    width: 140px;
    background-color: #bebebe;
    color: rgba(33, 122, 153, 1.0);
    margin-top: 8px;
    margin-right: 5px;
    float: left;
    border-bottom-left-radius: 7px;
    -moz-border-radius-bottomleft: 7px
}

.message_content {
    font-family: Arial;
    font-size: 13px;
    color: #fff;
    width: 620px;
    word-wrap: break-word;
    margin-top: 8px;
    float: left;
}

.message_signature {
    border-top: 3px dashed #CBCBCB;
    padding-top: 10px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px float : left;
}

#ladder_header {
    font-size: 15pt;
    font-family: sans-serif;
    color: #52969a;
    text-decoration: none;
    font-weight: bold;
    -moz-text-shadow: 0px 0px 8px #0d6c70;
    -webkit-text-shadow: 0px 0px 8px #0d6c70;
    text-shadow: 0px 0px 8px #0d6c70;
    text-align: center;
    padding-bottom: 6px;
    border-bottom: 3px dashed #12969C;
    z-index: 1;
}

#ladder_info {
    padding-top: 10px;
    font-size: 14px;
    color: #12969C;
}

#ladder_list {
    padding: 10px;
    font-size: 14px;
    color: #12969C;
    margin-bottom: 15px;
    border: 2px solid #52969a;
    background: url(../images/bgtest.png);
}

#ladder_list_header {
    font-size: 13pt;
    font-family: sans-serif;
    text-decoration: none;
    color: #4a4a4a;
    padding-bottom: 6px;
    border-bottom: 3px dashed #12969C;
    z-index: 1;
}

#user_leaderboard {
    background: url(../images/bgtest.png);
    font-family: Calibri, Arial, sans-serif;
    color: #12969C;
    padding: 10px 10px 5px 10px;
    border-bottom: 3px dotted #000;
}

/************************    START THE MISSION STYLINGS....    ********************/
.misssion_category {
    width: 100%;
    margin-top: 5px;
    background: transparent;
}

.misssion_category_image {
    height: 245px;
    width: 166px;
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000,endColorstr=#000)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#000, endColorstr=#000);
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    float: left;
    margin-right: 10px;
}

.misssion_category_right {
    float: left;
    width: 70%
}

.category_title {
    background: rgba(153, 153, 153, 0.56);
    margin: 0 auto 5px auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    border: 2px solid #666;
    text-align: left;
    font-family: 'Lato';
    font-weight: 300;
    color: #666;
    font-size: 25px;
    height: 30px;
    padding: 5px;
}

.category_info {
    background: rgba(153, 153, 153, 0.56);
    margin: 0 auto 5px auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    border: 2px solid #666;
    text-align: left;
    font-family: 'Arial';
    font-weight: 300;
    color: #666;
    font-size: 15px;
    padding: 5px;
}

#mission_list {
    width: 570px;
    background: url(../images/patterns/7.png);
    border: 2px solid #333;
    padding: 5px;
}

.mission_list_image img {
    padding: 5px;
    border: 2px solid #000;
    background: #FFF;
    width: 475px;
    height: 225px;
    margin: 10px 0 5px 35px;
}

/************************    START THE REGISTRATION STYLINGS....    ********************/

#carbonForm {
    /* The main form container */
    background-color: #1C1C1C;
    border: 1px solid #080808;
    margin: 20px auto;
    padding: 20px;
    width: 500px;

    -moz-box-shadow: 0 0 1px #444 inset;
    -webkit-box-shadow: 0 0 1px #444 inset;
    box-shadow: 0 0 1px #444 inset;
}

#carbonForm h1 {
    /* The form heading */
    font-family: Century Gothic, Myriad Pro, Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: normal;
    padding: 0 0 30px 10px;
    text-align: left;
}

.fieldContainer {
    /* The light rounded section, which contans the fields */
    background-color: #1E1E1E;
    border: 1px solid #0E0E0E;
    padding: 30px 10px;

    /* CSS3 box shadow, used as an inner glow */
    -moz-box-shadow: 0 0 20px #292929 inset;
    -webkit-box-shadow: 0 0 20px #292929 inset;
    box-shadow: 0 0 20px #292929 inset;
}

#carbonForm, .fieldContainer, .errorTip {
    /* Rounding the divs at once */
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

.formRow {
    height: 35px;
    padding: 10px;
    position: relative;
}

.label {
    float: left;
    padding: 0 20px 0 0;
    text-align: right;
    width: 70px;
}

label {
    font-family: Century Gothic, Myriad Pro, Arial, Helvetica, sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 35px;
}

.field {
    float: left;
}

.field input {
    /* The text boxes */
    border: 1px solid white;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 4px 5px;
    background: url("../images/box_bg.png") repeat-x scroll left top #FFFFFF;
    outline: none; /* Preventing the default Safari and Chrome text box highlight */
}

.signupButton {
    /* The submit button container */
    text-align: center;
    padding: 30px 0 10px;
}

#submit {
    /* The submit button */
    border: 1px solid #f4f4f4;
    cursor: pointer;
    height: 40px;
    text-indent: -9999px;
    text-transform: uppercase;
    width: 110px;

    background: url("../images/submit.png") no-repeat center center #d0ecfd;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

#submit.active {
    /* Marking the submit button as active adds the preloader gif as background */
    background-image: url("../images/preloader.gif");
}

#submit:hover {
    background-color: #dcf2ff;
    border: 1px solid white;
}

input:hover,
input:focus {
    -moz-box-shadow: 0 0 8px lightblue;
    -webkit-box-shadow: 0 0 8px lightblue;
    box-shadow: 0 0 8px lightblue;
}

.errorTip {
    /* The error divs */
    background-color: #970F08;
    color: white;
    font-size: 10px;
    height: 26px;
    letter-spacing: 0.4px;
    margin-left: 20px;
    padding: 5px 0 5px 10px;
    position: absolute;
    text-shadow: 1px 1px 0 #555555;
    width: 200px;
    right: -130px;
}

/************************    START THE BUTTON AND INPUT STYLINGS....    ********************/
.username {
    border: 1px solid #666;
    color: #7C7C7C;
    font-size: 12px;
    padding: 8px 10px 8px 20px;
    width: 210px;
    float: left;
    margin-left: 30px;
}

.username:active, .username:focus {
    border: 1px solid #000;
    color: #000;
}

.password {
    border: 1px solid #666;
    color: #7C7C7C;
    font-size: 12px;
    padding: 8px 20px 8px 20px;
    width: 210px;
    float: left;
    margin-left: 20px;
}

.password:active, .password:focus {
    border: 1px solid #000;
    color: #000
}

.loginButton {
    float: left;
    margin-left: 15px;
    border: 0;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-top: 10px;
}

.lost_pass {
    float: left;
    padding: 8px 0 8px 20px;
    border-left: #a8a8a6 1px dotted;
    color: #838280;
    margin-left: 15px;
    margin-top: 4px;
}

.lost_pass a {
    color: #838280;
    text-decoration: underline;
    font-family: Arial;
    font-size: 12px;
    margin-left: 15px;
}

.register {
    float: left;
    padding: 8px 25px 8px 20px;
    border-left: #a8a8a6 1px dotted;
    border-right: #a8a8a6 1px dotted;
    color: #838280;
    margin-left: 15px;
    margin-top: 4px;
}

.register a {
    color: #838280;
    text-decoration: underline;
    font-family: Arial;
    font-size: 12px;
    margin-left: 15px;
}

.formcss1 {
    background: rgba(153, 153, 153, 0.56);
    font-family: Arial;
    margin-top: 5px;
    margin-left: 10px;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 1px 1px 1px rgba(153, 153, 153, 0.11);
    padding: 5px;
    letter-spacing: 1px;
    font-variant: small-caps;
    border: 1px dotted rgba(153, 153, 153, 0.56);
}

.formcss1:hover {
    background: rgb(33, 122, 153);
}

/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #29d;

    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1.0;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 100;
    top: 15px;
    right: 15px;
}

#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.tooltip {
    display: inline;
    position: relative;
}

.tooltip:hover:after {
    color: #000;
    width: 100px;
    content: attr(data);
    position: absolute;
    top: 30px;
    right: 0;
    left: 0;
    padding: 4px 8px;
    z-index: 9999;
    background: rgba(153, 153, 153, 0.8);
    border: 2px #666 solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    display: block
}

.clearfix {
    clear: both
}

/*.tooltip:hover:before{
	border: solid;
	border-color: #333 transparent;
	border-width: 6px 6px 0 6px;
	bottom: 20px;
	content: "";
	left: 50%;
	position: absolute;
	z-index: 99;
}*/

/************************    FONTS FOR RANKS....    ********************/

.webfont {
    font-size: 11pt;
    font-family: sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.adminfont {
    font-size: 10pt;
    font-family: sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.gmodfont {
    font-size: 10pt;
    font-family: sans-serif;
    text-decoration: underline;
    font-weight: bold;
}

.modfont {
    font-size: 10pt;
    font-family: sans-serif;
    text-decoration: underline;
    font-weight: normal;
}

.userfont {
    font-size: 10pt;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: normal;
}

.epitaph {
    font-size: 11pt;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #fff; /* #fefb0b;- Faraz, #28d3ec; - Torn, #CD2626; - Nes*/
}

.hiddenfont {
    font-size: 10pt;
    font-family: sans-serif;
    text-decoration: underline;
    font-weight: bold;
    color: #8DEEEE;
}

.aurafont {
    font-size: 10pt;
    font-family: sans-serif;
    text-decoration: underline;
    font-weight: bold;
    color: #CC9900;
}

.azurefont {
    font-size: 10pt;
    font-family: sans-serif;
    text-decoration: underline;
    font-weight: bold;
    color: #00B2EE;
}